files:
  "/etc/php.d/overrides.ini":
    mode: "00644"
    owner: root
    group: root
    content: |
      date.timezone="Asia/Taipei"
      short_open_tag="Off"
      upload_max_filesize="10M"
      post_max_size="32M"
      ; session.save_handler="memcached"
      ; session.save_path="xxxxx.yyyyy.zzzz.1111.cache.amazonaws.com:11211"
  "/etc/php.d/10-opcache.ini":
    mode: "00644"
    content: |
      zend_extension=opcache.so
      opcache.enable=1
      opcache.memory_consumption=256
      opcache.interned_strings_buffer=32
      opcache.max_accelerated_files=100000
      ;opcache.max_wasted_percentage=5
      opcache.use_cwd=0
      opcache.revalidate_freq=0
      opcache.revalidate_path=0
      opcache.blacklist_filename=/etc/php.d/opcache*.blacklist
      opcache.consistency_checks=0